.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60vw;
    margin: 30px auto 40px auto;
    padding: 25px 0;
    border: 1px solid;
    border-radius: 10px;
    
    color: white;
}

.flx{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.flx>p{
    margin-left: 15px;
    font-weight: bold;
}

.select__season{
    margin-bottom: 25px;
}

.container__activities__countries{
    width: 70%;
    margin: 0 auto 30px auto;    
    padding: 0 10px;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.countrie__activity{
    position: relative;
    display: flex;
    align-items: center;
    
    margin: 0 25px 35px 25px;
    padding: 5px 20px 0 15px;

    border: 1px solid black;
    border-radius: 10px;
    background-color: #9cb3eb;
}

.countrie__activity>button{
    position: absolute;
    top: 0;
    right: 0;
    
    border-radius: 0 6px 0 3px;
    border: 1px solid;
    background-color: #fb3232;
    transition: .3s;
}
.countrie__activity>button:hover{background-color: rgb(249, 122, 122);}
.countrie__activity>button:active{background-color: white;color: red;}
.btn__submit{font-size: medium;}